
@{
    var supportRtl = Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft;
    var twoLetterIsoLanguageName = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
}

<!DOCTYPE html>

<html lang="@twoLetterIsoLanguageName" @(supportRtl ? Html.Raw(" dir=\"rtl\"") : Html.Raw(" dir=\"ltr\""))>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    @*<link rel="icon" type="image/png" sizes="16x16" href="/Administration/assets/images/favicon.png">*@
    <title>@UIElements.TabanMedicalManagement | @ViewData[AppConstants.ViewDataTitlePageName]</title>
    <!-- Custom CSS -->
    <link href="~/lib/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/bootstrap-duallistbox/dist/bootstrap-duallistbox.min.css" rel="stylesheet" asp-append-version="true"/>
    
    <!-- Custom CSS -->
    <link href="~/css/style.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/CustomStyle.css" rel="stylesheet" asp-append-version="true">
    
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Styles", false)

</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header">
            <!-- This is for the sidebar toggle which is visible on mobile only -->

            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                <i class="ti-menu ti-close"></i>
            </a>
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-brand">
                <a asp-controller="Dashboard" asp-action="Index" class="logo">

                    <!-- Logo text -->
                    <span class="logo-text">
                        @*<img src="/Administration/assets/images/logo.png" class="text-logo" alt="homepage">*@
                    </span>
                </a>
                <a class="sidebartoggler d-none d-md-block" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                    <i class="mdi mdi-toggle-switch mdi-toggle-switch-off font-20"></i>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="ti-more"></i>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-left mr-auto">
            </ul>
            <!-- ============================================================== -->
            <!-- Right side toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-right">
                <!-- ============================================================== -->
                <!-- Notification -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="font-22 mdi mdi-google-translate"></i>

                    </a>
                    <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
                        <span class="with-arrow">
                            <span class="bg-danger"></span>
                        </span>
                        <ul class="list-style-none">
                            <li>
                                <div class="drop-title text-white bg-danger">
                                    <h4 class="m-b-0 m-t-5">@InformationMessages.ChooseLanguage</h4>
                                </div>
                            </li>
                            <li>
                                <div class="text-center ps-container" data-ps-id="934b1a7f-c2f4-d64e-4b4d-1233be4c4f76">
                                    <!-- Notification -->
                                    <a asp-controller="Dashboard" asp-action="ChangeCulture" asp-route-culture="fa-IR" class="p-3">
                                        <div class="mail-contnet">
                                            <h5 class="message-title">
                                                <i class="flag-icon flag-icon-ir" title="ir" id="ir"></i>
                                                فارسی
                                            </h5>
                                        </div>
                                    </a>

                                    <a asp-controller="Dashboard" asp-action="ChangeCulture" asp-route-culture="en-US" class="p-3">
                                        <div class="mail-contnet">
                                            <h5 class="message-title">
                                                <i class="flag-icon flag-icon-us" title="us" id="us"></i>
                                                English
                                            </h5>
                                        </div>
                                    </a>
                                    
                                    <a asp-controller="Dashboard" asp-action="ChangeCulture" asp-route-culture="ar-IQ" class="p-3">
                                        <div class="mail-contnet">
                                            <h5 class="message-title">
                                                <i class="flag-icon flag-icon-iq" title="iq" id="iq"></i>
                                                العربیة
                                            </h5>
                                        </div>
                                    </a>
                                    
                                    <a asp-controller="Dashboard" asp-action="ChangeCulture" asp-route-culture="prs-AF" class="p-3">
                                        <div class="mail-contnet">
                                            <h5 class="message-title">
                                                <i class="flag-icon flag-icon-af" title="af" id="af"></i>
                                                دری
                                            </h5>
                                        </div>
                                    </a>

                                    <div class="ps-scrollbar-x-rail" style="left: 0; bottom: 0;">
                                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0; width: 0;"></div>
                                    </div>
                                    <div class="ps-scrollbar-y-rail" style="top: 0; right: 271px; height: 317px;">
                                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0; height: 293px;"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- End Notification -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <vc:user-recent-messages/>
                </li>
                <!-- ============================================================== -->
                <!-- Comment -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown dropdown border-right">
                    <vc:user-recent-notifications/>
                </li>
                <!-- ============================================================== -->
                <!-- End Comment -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @*<img src="@StaticDetails.DefaultUserImage" alt="user" class="rounded-circle" width="40">*@
                        <span class="m-l-5 font-medium d-none d-sm-inline-block">
                            @(User.Identity?.Name ?? "کاربر مهمان")<i class="mdi mdi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                        <span class="with-arrow">
                            <span class="bg-primary"></span>
                        </span>
                        <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
                            <div class="">
                                @*<img src="@StaticDetails.DefaultUserImage" alt="user" class="rounded-circle" width="60">*@
                            </div>
                            <div class="m-l-10">
                                <h4 class="m-b-0">@(User.Identity?.Name ?? "کاربر مهمان")</h4>
                            </div>
                        </div>
                        <div class="profile-dis scrollable">
                            <a asp-action="Index" asp-controller="AccountManager" class="btn btn-success dropdown-item">
                                <i class="fa fa-user m-r-5 m-l-5"></i> @UIElements.Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <form asp-action="Logout" asp-controller="Account" method="post">

                                <button class="dropdown-item" type="submit">
                                    <i class="fa fa-power-off m-r-5 m-l-5"></i> @UIElements.Logout
                                </button>
                            </form>

                            <div class="dropdown-divider"></div>

                        </div>

                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li class="nav-small-cap">
                    <i class="mdi mdi-dots-horizontal"></i>
                    <span class="hide-menu">@UIElements.Dashboard</span>
                </li>


                <admin-secure-content asp-controller="Home"
                                asp-action="Index">

                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                           asp-controller="Dashboard"
                           asp-action="Index"
                           aria-expanded="false">
                            <i class="mdi mdi-av-timer"></i>
                            <span class="hide-menu">@UIElements.Dashboard</span>
                        </a>
                    </li>

                </admin-secure-content>
                
                <li class="nav-small-cap">
                    <i class="mdi mdi-dots-horizontal"></i>
                    <span class="hide-menu">@UIElements.SystemSettings</span>
                </li>
                
                <admin-secure-content asp-controller="HotelFacilities" asp-action="Index">
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark" asp-controller="HotelFacilities"
                           asp-action="Index" aria-expanded="false">
                            <i class="mdi mdi-hexagon-multiple"></i>
                            <span class="hide-menu">@UIElements.HotelFacilities</span>
                        </a>
                    </li>
                </admin-secure-content>
                
                <li class="nav-small-cap">
                    <i class="mdi mdi-dots-horizontal"></i>
                    <span class="hide-menu">@UIElements.Hotels</span>
                </li>
                
                <admin-secure-content asp-controller="Hotels" asp-action="Index">
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark" asp-controller="Hotels"
                           asp-action="Index" aria-expanded="false">
                            <i class="mdi mdi-hotel"></i>
                            <span class="hide-menu">@UIElements.HotelsList</span>
                        </a>
                    </li>
                </admin-secure-content>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">@ViewData[AppConstants.ViewDataTitlePageName]</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Dashboard">@UIElements.Dashboard</a>
                            </li>
                            @if (ViewData[AppConstants.ViewDataControllerName] != null)
                            {
                                <li class="breadcrumb-item">
                                    <a asp-controller="@ViewData[AppConstants.ViewDataControllerRoute]" asp-action="@(ViewData[AppConstants.ViewDataActionRoute] ?? "Index")">
                                        @ViewData[AppConstants.ViewDataControllerName]
                                    </a>
                                </li>
                            }
                            <li class="breadcrumb-item active" aria-current="page">@ViewData[AppConstants.ViewDataTitlePageName]</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        @RenderBody()
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        @UIElements.CopyRight
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<div class="chat-windows"></div>
<!-- ============================================================== -->
<!-- All Jquery -->



<!-- ============================================================== -->
<!-- Bootstrap tether Core JavaScript -->
@*<script src="~/lib/popper.js/dist/umd/popper.min.js" asp-append-version="true"></script>*@
<script src="~/lib/bootstrap/bootstrap.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-duallistbox/dist/jquery.bootstrap-duallistbox.min.js" asp-append-version="true"></script>
<!-- apps -->
<script src="~/js/app.min.js" asp-append-version="true"></script>
<script src="~/js/app.init.js" asp-append-version="true"></script>
<script src="/js/app-style-switcher.js" asp-append-version="true"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/lib/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js" asp-append-version="true"></script>
<script src="/lib/sparkline/sparkline.js" asp-append-version="true"></script>
<!--Wave Effects -->
<script src="/js/waves.js" asp-append-version="true"></script>
<script src="/js/sidebarmenu.js" asp-append-version="true"></script>
<!--Custom JavaScript -->
<script src="/js/custom.js" asp-append-version="true"></script>
<script src="~/js/defaultPhotoHandle.js" asp-append-version="true"></script>


@await RenderSectionAsync("Scripts", false)

</body>

</html>