@using Application.Dtos.Application
@model TabanAgency.Domain.Dtos.SystemUsers.SystemUserDetailsDto

@{
    ViewData[AppConstants.ViewDataTitlePageName] = "جزئیات کاربر";
    ViewData[AppConstants.ViewDataControllerName] = "کاربران سیستمی";
    ViewData[AppConstants.ViewDataControllerRoute] = "SystemUsers";
    int i = 1;
}


@if (TempData[AppConstants.TempDataMessageTitle] != null)
{

    <partial name="_PartialNotificationDivision" model="new NotificationDto(Convert.ToBoolean(TempData[AppConstants.TempDataMessageTitle].ToString().Split('~')[1].Trim()),
    TempData[AppConstants.TempDataMessageTitle].ToString().Split('~')[0].Trim())" />
    }

<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="m-t-30">
                    @* <img src="@AppConstants.DefaultUserImage" class="rounded-circle" width="150"> *@
                    <h4 class="card-title m-t-10">@Model.Name @Model.Family</h4>
                    <h6 class="card-subtitle">@Model.Username&#64;</h6>
                </center>
            </div>
            <div>
                <div class="card-footer">
                    <div class="text-left">
                        <a asp-action="Index" class="btn btn-primary">بازگشت</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Tabs -->
            <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" id="pills-timeline-tab" data-toggle="pill" href="#user-roles" role="tab" aria-controls="pills-timeline" aria-selected="true">نقش ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#account-info" role="tab" aria-controls="pills-setting" aria-selected="false">اطلاعات حساب کاربری</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#change-password" role="tab" aria-controls="pills-setting" aria-selected="false">تغییر رمز عبور</a>
                </li>
            </ul>
            <!-- Tabs -->
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade active show" id="user-roles" role="tabpanel" aria-labelledby="pills-timeline-tab">
                    <div class="card-body">
                        <div class="m-t-0">
                            @if (Model.Roles.Any())
                            {
                                @foreach (var role in Model.Roles)
                                {
                                    <a asp-controller="SystemRoles" asp-action="Details" asp-route-id="@role.RoleId" class="btn btn-outline-success">@role.DisplayName</a>
                                }
                            }
                            else
                            {
                                @* <div class="alert alert-warning">@InformationMessages.NothingHasBeenRegistered</div> *@
                            }
                            <hr/>
                            <a asp-action="EditUserRoles" asp-route-id="@Model.Id" class="btn btn-warning text-white">ویرایش نقش ها</a>
                        </div>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="account-info" role="tabpanel" aria-labelledby="pills-setting-tab">
                    <div class="card-body">
                        <form asp-action="EditUserInfo" method="post" class="form-horizontal form-material">
                            <input type="hidden" readonly asp-for="Id"/>
                            <div class="form-group">
                                <label class="col-md-12">نام</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" data-val="true" data-val-maxlength="حداکثر تعداد کارکتر  نام باید 50 باشد!" data-val-maxlength-max="50" data-val-required="نام الزامی است!" id="Name" maxlength="50" name="Name" value="@Model.Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">نام خانوادگی</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" data-val="true" data-val-maxlength="حداکثر تعداد کارکتر  نام خانوادگی باید 100 باشد!" data-val-maxlength-max="100" data-val-required="نام خانوادگی الزامی است!" id="Family" maxlength="100" name="Family" value="@Model.Family">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">نام کاربری</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" data-val="true" data-val-maxlength="حداکثر تعداد کارکتر  نام کاربری باید 20 باشد!" data-val-maxlength-max="20" data-val-regex="نام کاربری را به صورت کارکتر انگلیسی وارد کنید !" data-val-regex-pattern="^[A-Za-z ]*$" data-val-required="نام کاربری الزامی است!" id="Username" maxlength="20" name="Username" value="@Model.Username">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-warning">ویرایش اطلاعات</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="pills-setting-tab">
                    <div class="card-body">
                        <form asp-action="EditUserPassword" method="post" class="form-horizontal form-material">
                            <input type="hidden" readonly asp-for="Id"/>
                            <div class="form-group">
                                <label class="col-md-12">رمز عبور جدید</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="password" data-val="true" data-val-minlength="حداقل تعداد کارکتر  رمز عبور باید 8 باشد!" data-val-minlength-min="8" data-val-required="رمز عبور الزامی است!" id="Password" name="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">تکرار رمز عبور جدید</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="password" data-val="true" data-val-equalto="تکرار رمز عبور و رمز عبور مطابق نیستند !" data-val-equalto-other="*.Password" data-val-required="تکرار رمز عبور الزامی است!" id="RePassword" name="RePassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-warning">ویرایش رمز عبور</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    
</div>
