@model MedicalCenterDetailsDto
@using Application.Dtos.Application
@using Application.Dtos.MedicalCenters
@using Application.Extensions
@using Resources.DataDictionary
@{
    ViewData[AppConstants.ViewDataTitlePageName] = UIElements.Details;
    ViewData[AppConstants.ViewDataControllerName] = UIElements.MedicalCenterList;
    ViewData[AppConstants.ViewDataControllerRoute] = "MedicalCenters";
}

@if(TempData[AppConstants.TempDataMessageTitle] != null)
{

    <partial name="_PartialNotificationDivision" model="new NotificationDto(Convert.ToBoolean(TempData[AppConstants.TempDataMessageTitle]!.ToString()!.Split('~')[1].Trim()),
    TempData[AppConstants.TempDataMessageTitle]!.ToString()!.Split('~')[0].Trim())" />
}

<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-md-5">
        <div class="card">
            <div class="card-body">
                <img src="@Model.ImageUrl" class="img-thumbnail w-100 mb-4">
                <br />
                <strong>@UIElements.City</strong>:
                <label class="card-title m-t-10">@Model.CityName</label>
                <br />
                <strong>@UIElements.MedicalCenterPhone</strong>:
                <label class="card-title m-t-10">@Model.PhoneNumber</label>
                <br />
                <strong>@UIElements.MedicalCenterAgentPhoneNumber</strong>:
                <label class="card-title m-t-10">@Model.AgentPhoneNumber.NotingRegisteredIfNull()</label>
            </div>
            <div>
                <div class="card-footer">
                    <div class="text-left">
                        <a asp-controller="MedicalCenters" asp-action="EditBasics" asp-route-id="@Model.Id" class="btn btn-warning">@UIElements.Edit</a>
                        <a asp-controller="MedicalCenters" asp-action="Index" asp-route-cityId="@Model.CityId" class="btn btn-primary">@UIElements.Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-md-7">
        <div class="card mb-0">
            <div class="card-body">
                <!-- Tabs -->
                <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="pills-timeline-tab" data-toggle="pill" href="#Fa" role="tab" aria-controls="pills-timeline" aria-selected="true">@UIElements.Farsi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#En" role="tab" aria-controls="pills-setting" aria-selected="false">@UIElements.English</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#Ar" role="tab" aria-controls="pills-setting" aria-selected="false">@UIElements.Arabic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#Af" role="tab" aria-controls="pills-setting" aria-selected="false">@UIElements.Dari</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#MedicalServices" role="tab" aria-controls="pills-setting" aria-selected="false">@UIElements.MedicalServices</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Tabs -->
        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade active show" id="Fa" aria-labelledby="pills-timeline-tab">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>@UIElements.MedicalCenterName</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.FaLanguageLcid)?.Name ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                            <div class="col-md-3">
                                <strong>@UIElements.MedicalCenterAgentName</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.FaLanguageLcid)?.AgentName.NotingRegisteredIfNull() ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                            <div class="col-md-6">
                                <strong>@UIElements.MedicalCenterAddress</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.FaLanguageLcid)?.Address ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-medicalCenterId="@Model.Id" asp-route-langId="@AppConstants.FaLanguageLcid">@UIElements.Edit</a>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="En" aria-labelledby="pills-timeline-tab">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>@UIElements.MedicalCenterName</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.EnLanguageLcid)?.Name ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                            <div class="col-md-3">
                                <strong>@UIElements.MedicalCenterAgentName</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.EnLanguageLcid)?.AgentName.NotingRegisteredIfNull() ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                            <div class="col-md-6">
                                <strong>@UIElements.MedicalCenterAddress</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.EnLanguageLcid)?.Address ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-medicalCenterId="@Model.Id" asp-route-langId="@AppConstants.EnLanguageLcid">@UIElements.Edit</a>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="Ar" aria-labelledby="pills-timeline-tab">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>@UIElements.MedicalCenterName</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.ArLanguageLcid)?.Name ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                            <div class="col-md-3">
                                <strong>@UIElements.MedicalCenterAgentName</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.ArLanguageLcid)?.AgentName.NotingRegisteredIfNull() ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                            <div class="col-md-6">
                                <strong>@UIElements.MedicalCenterAddress</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.ArLanguageLcid)?.Address ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-medicalCenterId="@Model.Id" asp-route-langId="@AppConstants.ArLanguageLcid">@UIElements.Edit</a>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="Af" aria-labelledby="pills-timeline-tab">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>@UIElements.MedicalCenterName</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.AfLanguageLcid)?.Name ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                            <div class="col-md-3">
                                <strong>@UIElements.MedicalCenterAgentName</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.AfLanguageLcid)?.AgentName.NotingRegisteredIfNull() ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                            <div class="col-md-6">
                                <strong>@UIElements.MedicalCenterAddress</strong>
                                <br>
                                <p class="text-muted">@(Model.MedicalCenterForEditDetailsDto!.FirstOrDefault(medicalCenter => medicalCenter.LanguageId == AppConstants.AfLanguageLcid)?.Address ?? string.Empty.NotingRegisteredIfNull())</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-medicalCenterId="@Model.Id" asp-route-langId="@AppConstants.AfLanguageLcid">@UIElements.Edit</a>
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" id="MedicalServices" aria-labelledby="pills-timeline-tab">
                <div class="card">
                    <div class="card-body">
                        <vc:medical-services medical-center-id="Model.Id" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Column -->

</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script src="~/lib/jquery/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>

    
    <vc:edit-medical-service medical-center-id="@Model.Id" />
    <script src="~/js/Pages/MedicalServices/MedicalServicesIndex.js" asp-append-version="true"></script>
    <script src="~/js/Pages/MedicalServices/MedicalServiceDetaile.js" asp-append-version="true"></script>
    <script>
        MedicalServiceDetaile.init(@Model.Id);
    </script>

}